/* Application wide styles */

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#00adef, #094270);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(#094270, #00adef);
}

/* Component specific styles */


.main-panel {
    -fx-background-image: url("../images/background.jpg");
}

#titre{
    -fx-text-fill: rgb(9,66,112);
    -fx-font-size: 28px;
    -fx-font-weight: normal;
}
